[user]
	name = zetles
	email = 90190656+Zetles96@users.noreply.github.com

[init]
	defaultBranch = main

[pull]
	rebase = false

[merge]
	conflictstyle = diff3

[push]
	autoSetupRemote = true

[core]
	editor = vim
	autocrlf = input

[color]
	ui = auto

[alias]
	st = status
	co = checkout
	br = branch
	cm = commit
	lg = log --oneline --graph --decorate --all
	last = log -1 HEAD
	unstage = reset HEAD --

[credential]
	helper = store
