* {
    /* `otf-font-awesome` and JetBrains Mono Nerd Font are required to be installed for icons */
    font-family: "JetBrainsMono Nerd Font", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    transition: background-color .3s ease-out;
}
@import "mocha.css";

window#waybar {
    background: rgba(30, 30, 46, 0.75); /* base with transparency */
    color: @text; /* text */
    font-family: 
        JetBrainsMono Nerd Font,
        feather;
    transition: background-color .5s;
}

.modules-left,
.modules-center,
.modules-right
{
    background: rgba(24, 24, 37, 0.7); /* mantle with transparency */
    margin: 5px 2px;
    padding: 0 0px;
    border-radius: 15px;
}
.modules-left {
    padding: 0;
}
.modules-center {
    padding: 0 10px;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#language,
#custom-keyboard,
#mpd {
    padding: 0 6px;
    border-radius: 15px;
    color: @text; /* text */
}

#clock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#temperature:hover,
#backlight:hover,
#network:hover,
#pulseaudio:hover,
#wireplumber:hover,
#custom-media:hover,
#tray:hover,
#mode:hover,
#idle_inhibitor:hover,
#scratchpad:hover,
#power-profiles-daemon:hover,
#language:hover,
#custom-keyboard:hover,
#mpd:hover {
    background: rgba(30, 30, 46, 0.9); /* base with higher opacity */
    color: @lavender; /* lavender for hover text */
}

#workspaces button {
    background: transparent;
    font-family:
        JetBrainsMono Nerd Font,
        feather;
    font-weight: 900;
    font-size: 13pt;
    color: @subtext1; /* subtext1 */
    border: none;
    border-radius: 15px;
}

#workspaces button.active {
    background: @surface0; /* surface0 */
    color: @text; /* text */
}

#workspaces button:hover {
    background: @crust; /* crust */
    color: @text; /* text */
    box-shadow: none;
}

#custom-arch {
    margin-left: 5px;
    padding: 0 10px;
    font-size: 25px;
    color: @sapphire; /* sapphire */
    transition: color .5s;
}
#custom-arch:hover {
    color: @blue; /* blue */
}